<div class="col col-md-12 custom-expertSearchResults">
  <div ng-show="shortlist.length < 1">You have no one currently in your Shortlist.  You can add Consultants under the "Search Results" tab underneath their profile picture.</div>
  <div ng-show="shortlist.length > 0" class="custom-topFavShortBenchBtns">
    <button class="btn btn-primary btn-sm" ng-click="showGroupEngagementInviteModal($event, shortlist)" ng-disabled="groupLength == 0">Invite Selected to Quote</button>
    <!-- To add in later -->
    <!-- <button class="btn btn-default btn-sm" ng-disabled="groupLength == 0" style="margin-left:5px;">Remove from Shortlist</button> -->
  </div>
  <div class="col col-md-12 custom-expertsList" ng-repeat="sl in shortlist" star-rating-after-repeat >
    <div class="col col-md-3 custom-expertPicLinks">
      <div class="custom-expertPic"><img ng-src="{{envURL+sl.imageFilename}}"></div>
      <div class="custom-addToBenchBtn">
        <button class="btn btn-primary btn-outline btn-sm" ng-click="CoNameSetConsultantToBench(sl)" ng-disabled="sl.existsInBench" ng-class="{'custom-addedTo': sl.existsInBench}">
          <span ng-hide="sl.existsInBench">Add to Bench</span>
          <span ng-show="sl.existsInBench">Added to Bench</span>
        </button>
      </div>
      <div class="custom-addToBenchBtn">
        <button class="btn btn-primary btn-sm" ng-click="CoNameRemoveConsultantFromShortlist(sl)">
          Remove from Shortlist
        </button>
      </div>
    </div>
    <div class="col col-md-6 custom-expertInfo">
      <h4 class="custom-expertName">
        <div style="display:flex;">
          <md-checkbox ng-model="sl.selectedForGroup" aria-label="subcategory" class="md-raised custom-subCatCheckbox" ng-change="addConsultantToGroupInvite(sl)"></md-checkbox>
          <div ng-if="!sl.profileNamePrivate" ng-click="showFullConsultantDetailsModal($event, sl)">{{sl.name}} </div>
          <div ng-if="sl.profileNamePrivate" ng-click="showFullConsultantDetailsModal($event, sl)">{{sl.name | createInitials}} </div>
        </div>
        <div><small class="custom-expertCo">{{sl.title}}</small></div>
      </h4>
      <div class="custom-expertAddress">
        <div ng-if="sl.city || sl.state.name"><i class="fa fa-map-marker-alt"></i> <span ng-if="sl.city">{{sl.city}}</span><span ng-if="sl.state.name">, {{sl.state.name}}</span> </div>
        <div>Projects: {{sl.numberProjects}} | Certifications: {{sl.certifications.length}}</div>
      </div>
      <div class="custom-expertDescription"><span ng-bind-html="sl.consultantDescription | limitTo : limitDescription150"></span><span ng-show="sl.consultantDescription.length > 150">...</span>
      </div>
      <div class="custom-expertSkills">
        <div class="label label-default label-outline custom-expertSkillsLabel" ng-repeat="skill in sl.skills | limitTo : 3">{{skill.skillName}}</div>
        <div ng-if="sl.skills.length > 3"><a href="#" ng-click="showFullConsultantDetailsModal($event, sl)">{{sl.skills.length - 3}} More</a></div>
      </div>
      <div class="custom-expertDeptLogos">
        <img class="custom-expertAgencies" ng-repeat="agency in sl.agencies | limitTo : 4" ng-src="{{envURL+agency.imageFilename}}">&nbsp;
        <span ng-if="sl.agencies.length > 4"><a href="#">{{sl.agencies.length - 4}} More</a></span>
      </div>
    </div>
    <div class="col col-md-3 custom-expertRating">
      <h4 ng-show="sl.freelanceHourlyRate"> {{sl.freelanceHourlyRate | currency}} / hr</h4>
      <div ng-if="sl.verification.gpKey === '{2cf9f736-b545-4141-801b-74e6c5bc71c1}'"><i class="fa fa-certificate custom-silver"></i> Silver Verified</div>
      <div ng-if="sl.verification.gpKey === '{40fc325d-35d3-412c-bdb9-704451336652}'"><i class="fa fa-certificate custom-gold"></i> Gold Verified</div>
      <div ng-if="sl.verification.gpKey === '{cd29a394-1b49-4166-924d-16199b9ad6dd}'"><i class="fa fa-certificate custom-platinum"></i> Platinum Verified</div>
      <div>Member since {{myConvertDate(sl.joinDate) | date}} </div>
      <div>Profile Completion {{sl.profileCompletion}}%</div>
      <div>
        <button class="btn btn-primary btn-outline btn-sm" ng-click="showSendMsgSLModal($event, sl)">Send Message</button>
        <button class="btn btn-primary btn-sm" ng-click="showEngagementInviteModal($event, sl)">Invite to Quote</button></div>
    </div>
  </div>
</div>
