<md-dialog aria-label="Send Message"  class="custom-xlModal">
  <md-toolbar class="md-gpBlue-theme">
    <div class="md-toolbar-tools">
      <h2 class="custom-expertName">
        <span>Expert Profile</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <div class="row">
          <div class="col col-md-3 expertDetailsModal-leftColumn">
            <div class="expertDetailsModal-profileImg-wrapper">
              <img ng-src="{{envURL+expertDetails.imageFilename}}">
              <div ng-if="expertDetails.verification.gpKey === '{2cf9f736-b545-4141-801b-74e6c5bc71c1}'"><i class="fa fa-certificate custom-silver"></i> Silver Verified</div>
              <div ng-if="expertDetails.verification.gpKey === '{40fc325d-35d3-412c-bdb9-704451336652}'"><i class="fa fa-certificate custom-gold"></i> Gold Verified</div>
              <div ng-if="expertDetails.verification.gpKey === '{cd29a394-1b49-4166-924d-16199b9ad6dd}'"><i class="fa fa-certificate custom-platinum"></i> Platinum Verified</div>
            </div>
            <div class="custom-expertPicLinks"><button class="btn btn-primary btn-sm" ng-click="closeAndOpenEIModal()">Invite to Quote</button></div>
            <div class="custom-expertPicLinks"><button class="btn btn-primary btn-outline btn-sm" ng-click="closeAndOpenSMModal()">Send Message</button></div>
            <div class="custom-mb10">
              <div><label>Member Since:</label></div>
              <div>{{joinDate | date}}</div>
            </div>
            <div class="custom-mb10" >
              <div ng-if="expertDetails.securityClearance.name"><label>Security Clearance:</label> </div>
              <div>{{expertDetails.securityClearance.name}}</div>
            </div>
            <div class="custom-mb10" ng-if="expertDetails.availability.name">
              <div><label>Freelance Availability:</label></div>
              <div>{{expertDetails.availability.name}}</div>
            </div>
            <div class="custom-mb10" ng-if="expertDetails.freelanceHourlyRate">
              <div><label>Hourly Rate:</label></div>
              <div> {{expertDetails.freelanceHourlyRate | currency}}</div>
            </div>
            <div class="custom-mb10" ng-if="expertDetails.availableAsFullTime">
              <div><label>Available as full time:</label> </div><div> <span>Yes</span></div>
            </div>
            <div class="custom-mb10" ng-if="!expertDetails.availableAsFullTime">
              <div><label>Available as full time:</label> </div><div> <span>No</span></div>
            </div>
            <div class="custom-mb10" ng-if="expertDetails.fullTimeAnnualSalary">
              <div><label>Annual Salary:</label></div>
              <div> {{expertDetails.fullTimeAnnualSalary | currency}}</div>
            </div>
            <div class="custom-mb10" ng-if="expertDetails.willingToTravel.name">
              <div><label>Willing to Travel:</label></div>
              <div> {{expertDetails.willingToTravel.name}}</div>
            </div>
            <div class="custom-mb10">
              <div><label>Total Projects:</label></div>
              <div> {{expertDetails.numberProjects + expertDetails.legacyNumberProjects}}</div>
            </div>
          </div>
          <div class="col col-md-9">
            <div style="display: flex;justify-content: space-between;align-items: center;">
              <h3 style="padding-top: 0;display: flex; align-items:center;">
                <div>
                  <span ng-if="!expertDetails.profileNamePrivate">{{expertDetails.name}}</span>
                  <span ng-if="expertDetails.profileNamePrivate">{{expertDetails.name | createInitials}}</span>
                </div>
                <small data-ng-if="expertDetails.isVIP" style="margin-left:10px;"><i class="fa fa-trophy custom-gold"></i> VIP/Senior Executive</small>
              </h3>
              <div class="custom-bubbleLI" ng-if="expertDetails.consultantResumeUrl"><a ng-href="{{expertDetails.consultantResumeUrl}}" target="_blank">Resume <i class="fa fa-arrow-circle-down"></i></a></div>
              <!-- NOTE: Leave the above... the story was to make the resume not available for download -->
            </div>
            <div><i class="fa fa-map-marker-alt"></i> {{expertDetails.city}}, {{expertDetails.state.Abbreviation}}</div>
            <h5>{{expertDetails.title}}<span ng-if="expertDetails.company && expertDetails.title">,</span> {{expertDetails.company}}</h5>
            <input id="" ng-model="expertDetails.numValU" value="{{expertDetails.averageReview}}" type="number" class="myrating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">
            <div data-ng-bind-html="expertDetails.consultantDescription"></div>
            <md-tabs md-dynamic-height md-border-bottom >
              <md-tab  label="Agencies" style="padding:7px;">
                <div  style="padding:7px;">
                  <ul class="custom-bubbleLI" >
                    <li ng-repeat="agency in expertDetails.agencies">
                      <img style="height:35px; max-width:35px;" ng-src="{{envURL+agency.imageFilename}}" ng-if="agency.imageFilename"> &nbsp; {{agency.name}}
                    </li>
                  </ul>
                </div>
              </md-tab>
              <md-tab  label="Contracts">
                <div  style="padding:7px;">
                  <ul class="custom-bubbleLI" >
                    <li ng-repeat="contract in expertDetails.contracts">{{contract.name}}</li>
                  </ul>
                </div>
              </md-tab>
              <md-tab  label="Categories">
                <div  style="padding:7px;">
                  <ul class="custom-bubbleLI" >
                    <li ng-repeat="category in expertDetails.categories">{{category.name}}</li>
                  </ul>
                </div>
              </md-tab>
              <md-tab  label="Skills">
                <div  style="padding:7px;">
                  <ul class="custom-bubbleLI" >
                    <li ng-repeat="skill in expertDetails.skills">{{skill.skillName}}</li>
                  </ul>
                </div>
              </md-tab>
              <md-tab  label="References">
                <div class="row">
                  <div class="col col-md-12"  ng-repeat="reference in consultantRatings | limitTo : limitValue  track by $index">
                    <div class="profileDivider">
                      <div class="custom-profileReference">
                        <div>
                          <div class="showFullRating">
                            <h4 ng-click="showRatingDetails_$index = !showRatingDetails_$index"> {{reference.Reviewer.name}}, <small>{{reference.Reviewer.Company.name}}</small>
                              <span class="showRatingDetails" >
                                &nbsp; Click To &nbsp;<span ng-hide="showRatingDetails_$index">Show</span><span ng-show="showRatingDetails_$index">Hide</span> &nbsp; Details &nbsp;
                              </span>
                            </h4>
                            <h4>
                              <div class="rating-container rating-xxs rating-animate">
                                <div class="rating-stars">
                                  <span class="empty-stars">
                                    <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                  </span>
                                  <span class="filled-stars" style="width: {{reference.rating * 20}}%;">
                                    <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                  </span>
                                </div>
                                <span class="ratingNumber"> &nbsp;
                                  {{reference.rating | number : 1}}
                                </span>
                              </div>
                            </h4>
                          </div>
                          <div class="ratingDetails" ng-show="showRatingDetails_$index">
                            <div>
                              <div>
                                <strong>Quality:</strong>
                                <div class="rating-container rating-xxs rating-animate">
                                  <div class="rating-stars">
                                    <span class="empty-stars">
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    </span>
                                    <span class="filled-stars" style="width: {{reference.quality * 20}}%;">
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <strong>Timeliness:</strong>
                                <div class="rating-container rating-xxs rating-animate">
                                  <div class="rating-stars">
                                    <span class="empty-stars">
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    </span>
                                    <span class="filled-stars" style="width: {{reference.timeliness * 20}}%;">
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <strong>Responsiveness:</strong>
                                <div class="rating-container rating-xxs rating-animate">
                                  <div class="rating-stars">
                                    <span class="empty-stars">
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    </span>
                                    <span class="filled-stars" style="width: {{reference.responsiveness * 20}}%;">
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <strong>Cost:</strong>
                                <div class="rating-container rating-xxs rating-animate">
                                  <div class="rating-stars">
                                    <span class="empty-stars">
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                    </span>
                                    <span class="filled-stars" style="width: {{reference.cost * 20}}%;">
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                      <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div><span ng-show="reference.useForSimilarProjects"><i class="fa fa-check"></i></span><span ng-show="!reference.useForSimilarProjects"><i class="fa fa-times"></i></span> I would <span ng-if="!reference.useForSimilarProjects">not</span> use this consultant for similar projects</div>
                              <div><span ng-show="reference.wouldRecomendToOthers"><i class="fa fa-check"></i></span><span ng-show="!reference.wouldRecomendToOthers"><i class="fa fa-times"></i></span> I would <span ng-if="!reference.wouldRecomendToOthers">not</span> recommend this consultant to others</div>
                            </div>
                          </div>
                        <div>{{reference.comments}}</div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col col-md-12 custom-readMoreLink" ng-if="(consultantRatings | filter: {ratingSource: referenceRatingNumber}).length > 3">
                    <a ng-click="showAllReviews(consultantRatings.length)">Show <span ng-if="limitValue == 3">More</span><span ng-if="limitValue == consultantRatings.length">Less</span> Ratings</a>
                  </div>
                </div>
              </md-tab>
              <md-tab  label="Certifications">
                <div  style="padding:7px;">
                  <ul class="custom-bubbleLI" >
                    <li ng-repeat="certification in expertDetails.certifications">{{certification.certificationName}}</li>
                  </ul>
                </div>
              </md-tab>
            </md-tabs>
          </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="cancel()">
     Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
