<input id="fileInput" type="file" class="ng-hide" ng-model="documentFiles.file">
<md-button id="uploadButton" class="md-fab md-mini custom-SolidBlue" aria-label="attach_file"><md-icon class="material-icons">attach_file</md-icon></md-button>
<md-input-container  md-no-float style="width: calc(100% - 130px);">
  <input id="textInput" ng-model="documentFiles.fileName" type="text" placeholder="{{placeholder}}" ng-readonly="true">
</md-input-container>
<div>
  <input id="fileInput1" type="file" class="ng-hide" ng-model="documentFiles.file1">
  <md-button id="uploadButton1" class="md-fab md-mini custom-SolidBlue" aria-label="attach_file"><md-icon class="material-icons">attach_file</md-icon></md-button>
  <md-input-container  md-no-float style="width: calc(100% - 130px);">
    <input id="textInput1" ng-model="documentFiles.fileName1" type="text" placeholder="{{placeholder1}}" ng-readonly="true">
  </md-input-container>
</div>
<div>
  <input id="fileInput2" type="file" class="ng-hide" ng-model="documentFiles.file2">
    <md-button id="uploadButton2" class="md-fab md-mini custom-SolidBlue" aria-label="attach_file"><md-icon class="material-icons">attach_file</md-icon></md-button>
    <md-input-container  md-no-float style="width: calc(100% - 130px);">
      <input id="textInput2" ng-model="documentFiles.fileName2" type="text" placeholder="{{placeholder2}}" ng-readonly="true">
    </md-input-container>
</div>
