<md-dialog id="replyModal" class="custom-ConsultantRequestInfoModal">
  <form ng-cloak name="sendIOMsg">
    <md-toolbar class="md-gpBlue-theme" ng-hide="msgSentSuccess">
      <div class="md-toolbar-tools">
        <h2>Message</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar class="md-gpBlue-theme" ng-show="msgSentSuccess">
      <div class="md-toolbar-tools">
        <h2>Success!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div ng-hide="msgSentSuccess">
        <section ng-if="msgReplyData.fromUser.name">
          <div class="custom-projectInfo">
            <div >
              <span class="custom-mr15"><img ng-src="{{envURL+msgReplyData.fromUser.ImageFilename}}"></span>
              <h4>
                <span >{{msgReplyData.fromUser.name}}</span>
                <small>{{msgReplyData.fromUser.Company.city}}, {{msgReplyData.fromUser.Company.state.Abbreviation}}</small>
              </h4>
            </div>
          </div>
        </section>
        <div class="custom-subjectForMsg">Re: {{msgReplyData.subject}}</div>
        <md-input-container class="md-block custom-width-100">
          <label><span class="custom-error fa fa-asterisk"></span> Enter Message</label>
          <!-- <textarea ng-model="theMessage" md-maxlength="250" rows="5" md-select-on-focus></textarea> -->
          <textarea ng-model="theMessage" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <div>From: {{consultantData.name}}, {{consultantData.title}}</div>
      </div>

      <div ng-show="msgSentSuccess">
        Your Request for Information has been successfully submitted.
      </div>
      <div ng-show="errorMsg" class="custom-error">
        There was an error
      </div>


    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" ng-hide="msgSentSuccess">
       Cancel
      </md-button>
      <button class="btn btn-primary" ng-click="reply(msgReplyData, theMessage)" ng-hide="msgSentSuccess" ng-disabled="!theMessage">
       <i class="fa fa-paper-plane"></i> Send Message
      </button>
      <md-button ng-click="cancel()" ng-show="msgSentSuccess">
       Close Window
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
