<md-dialog aria-label="liscence Info" ng-init="CoNameGetContent()" style="width:600px;">
  <form ng-cloak>
    <md-toolbar class="md-gpBlue-theme">
      <div class="md-toolbar-tools">
        <h2>Success!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="custom-p20">
      <p><strong>An email has been sent to the address you provided.  You will be asked to confirm that you have an account with this business.</strong></p>
      <p>It may take a few minutes to receive this email.  If you do not receive this email after several minutes, please check your SPAM folder.</p>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
