<div login-header class="custom-min480"></div>
<div login-responsive-header class="custom-max480"></div>
<div id="signUpStep4" class="view custom-signUpView" ng-init="planSelectionStep()">
  <div class="custom-signUpStatusBar custom-min480" layout-align="center center">
    <h1>CompanyNme Subscription Plans</h1>
  </div>
  <md-toolbar class="md-hue-custom custom-min480">
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
      <div layout="column" layout-align="center center">
        <h2 class="md-flex">Start project engagements with freelancers and more</h2>
      </div>
    </div>
  </md-toolbar>

  <div class="custom-mainBodyWidth custom-StepContainer md-whiteframe-3dp">
    <div class="panel panel-default custom-min480" data-ng-if="false">
      <div>
        <div class="custom-businessModelTable">
          <div class="custom-tableLeft">
            <div class="divTableBody">
              <div class="custom-leftTableColumn">
                <div class="custom-tableTitle">&nbsp;</div>
                <div class="tablePlansFeatures"><h3>Plans & Features</h3></div>
                <div class="custom-tableRow">
                  <div >
                    <h4>Active Projects</h4>
                    <div>A project is an active search for a consultant you want to hire.</div>
                  </div>
                </div>
                <div class="custom-tableRow">
                  <div >
                    <h4>Expert Matching Engine</h4>
                    <div>Advanced filters enable super-fast drill down capability.</div>
                  </div>
                </div>
                <div class="custom-tableRow">
                  <div >
                    <h4>Consultant Quotes & Engagement</h4>
                    <div>Shortlist and request quotes from consultants and choose the one best for your project.</div>
                  </div>
                </div>
                <div class="custom-tableRow">
                  <div >
                    <h4>Digital Administration</h4>
                    <div>We handle NDAs, OCIs, invoices, and 1099 tax reporting to save time and cost.</div>
                  </div>
                </div>
                <div class="custom-tableRow">
                  <div >
                    <h4>In-App Customer Support</h4>
                    <div>Online help, FAQs, and tutorials are available.</div>
                  </div>
                </div>
                <div class="custom-tableRowLast">
                  <div >
                    <h4>On-Demand PMO</h4>
                    <div style="margin-bottom:3px;"><strong>CSR - </strong> Customer Support Representatives assist with training, trouble shooting, and general support.</div>
                    <div><strong>PM - </strong> Project Manager saves you time and manages your business project needs from oversight of project requirements to identifying matching consultants inside or outside of the marketplace.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-tableRight">
            <div class="divTableBody">
              <div class="divTableColumn" data-ng-click="planSelected(0)">
                <fieldset>
                  <legend align="center">&nbsp;</legend>
                  <div ><div class="custom-tableTitle">Basic</div></div>
                  <div ><div class="custom-tableAmmt bg-info"><div class="custom-tableAmmtInner">Free</div></div></div>
                  <div class="custom-tableRow"><div class="custom-tableProjectLimit">Up to 2 per/mo.</div></div>
                  <div class="custom-tableRow"><div class="custom-tableLimit">Limited</div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div ><div class="custom-tableManager bg-info">Up to 2 hrs per/mo.</div></div>
                  <div class="custom-tableRow"><div>CSR</div></div>
                </fieldset>
              </div>
              <div class="divTableColumn custom-essentialPackage custom-BestValue" data-ng-click="planSelected(1)">
                <fieldset>
                  <legend align="center">Best Value</legend>
                  <div ><div class="custom-tableTitle">Essential</div></div>
                  <div ><div class="custom-tableAmmt bg-primary"><div class="custom-tableAmmtInner">$1,995</div></div></div>
                  <div class="custom-tableRow"><div class="custom-tableProjectLimit">Up to 4 per/mo.</div></div>
                  <div class="custom-tableRow"><div class="custom-tableLimit">Unlimited</div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div ><div class="custom-tableManager bg-primary">Up to 4 hrs per/mo.</div></div>
                  <div class="custom-tableRow"><div>CSR</div></div>
                </fieldset>
              </div>
              <div class="divTableColumn"  data-ng-click="planSelected(2)">
                <fieldset>
                  <legend align="center">&nbsp;</legend>
                  <div ><div class="custom-tableTitle">Professional</div></div>
                  <div ><div class="custom-tableAmmt bg-success"><div class="custom-tableAmmtInner">$3,595</div></div></div>
                  <div class="custom-tableRow"><div class="custom-tableProjectLimit">Up to 12 per/mo.</div></div>
                  <div class="custom-tableRow"><div class="custom-tableLimit">Unlimited</div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div ><div class="custom-tableManager bg-success">Up to 12 hrs per/mo.</div></div>
                  <div class="custom-tableRow"><div>CSR</div></div>
                </fieldset>
              </div>
              <div class="divTableColumn"  data-ng-click="planSelected(3)">
                <fieldset>
                  <legend align="center">&nbsp;</legend>
                  <div ><div class="custom-tableTitle">Enterprise</div></div>
                  <div ><div class="custom-tableAmmt bg-warning"><div class="custom-tableAmmtInner">$8,995</div></div></div>
                  <div class="custom-tableRow"><div class="custom-tableProjectLimit">Unlimited</div></div>
                  <div class="custom-tableRow"><div class="custom-tableLimit">Unlimited</div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div class="custom-tableRow"><div class="custom-tableCheck"><i class="fa fa-check"></i></div></div>
                  <div ><div class="custom-tableManager bg-warning">Up to 20 hrs per/mo.</div></div>
                  <div class="custom-tableRow"><div>PM</div></div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-Step">
      <!-- ///////////////////////////////// SELECT license //////////////////////////////////// -->
      <div class="form-group custom-info">
        <select class="form-control custom-selectLicenses" ng-class="{'custom-errOutline' : licenseNeeded && !amountDue}"  ng-options="license as license.name + '    ' + license.ProjectLimit + ' users, ' + license.Fee * 100 + '% $' + license.UnitPrice + ' per month' for license in licenses " ng-model="appInfo.item" ng-change="displaylicenseAmount(appInfo.item)" required>
          <option value="" style="display:none;">*Choose Your Plan</option>
        </select>
        <i class="glyphicon glyphicon-info-sign" ng-click="showLicenseInfo($event)" data-ng-hide="true"></i>
      </div>
      <div class="text-right" style="margin-right:45px;">Click <a href="https://www.CompanyNme.com/pricing/" target="_blank"><strong>here</strong></a> to see more details on our plans</div>
      <div class="custom-price" ng-if="amountDue">Total Amount Due: ${{amountDue}}</div>
      <!-- ///////////////////////////////// ECOMMERCE //////////////////////////////////// -->
      <div class="custom-ecommerceWrapper" ng-show="appInfo.item && (appInfo.item.UnitPrice > 0)">
        <form id="js-ecommercePayments" name="ecommercePayments"></form>
      </div>
      <!-- ///////////////////////////////// ADDRESS //////////////////////////////////// -->
      <div class="custom-price" ng-if="amountDue">Total Amount Due: ${{amountDue}}</div>
      <div class="custom-paymentAgreement abPayDetailECheckOnline" style="display:none;">  {{PaymentAcknowledgementContent}} </div>
      <div class="custom-SubmitError col col-md-12">
        <div class="custom-errorMsg" ng-class="{'custom-error' : licenseNeeded}" ng-if="licenseNeeded">Please Choose a Plan</div>
        <div class="row errorMsg custom-error custom-errorMsg" ng-show="ccError"><span class="fieldError">{{errorMsg}}</span></div>
      </div>
      <div class="row custom-btnWrapper">
        <div class="col col-md-6 custom-backBtn">
          <button class="btn btn-default btn-outline" ng-click="goBackToStep3()">Back</button>
        </div>
        <div class="col col-md-6 custom-nextBtn">
          <button class="btn btn-primary" type="submit" ng-click="submitPayment(appInfo)">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
