<div class="custom-nav" company-dash-header></div>

<div class="custom-mainBodyWidth custom-dashWrapper" ng-init="initPlans()">
  <div class="custom-dashInner">
    <div id="upgradePlan" class="custom-StepContainer md-whiteframe-3dp">

      <!-- TEMPORARY hide -->
      <!-- <div ng-include="'/views/company/plans/selectAPlan.html'" ng-hide="showPaymentFields"></div> -->
      <!-- <div ng-include="'/views/company/plans/payForPlan.html'" ng-show="showPaymentFields"></div> -->

      <div ng-include="'/views/company/plans/payForPlan.html'"></div>

    </div>
  </div>
</div>
