<div class="custom-projectDetailsHeaderSection" ng-init="CoNameGetCompanyProjects()">
  <div class="custom-projectDetailHeader">
    <div style="width:90px; height:90px; margin-right:10px;"  class="ng-cloak">
      <img style="border-radius:75px; width:100%; height:100%;" class="ng-cloak" alt="{{ projectDetails.title }}" src="{{envURL+projectDetails.agency.imageFilename}}" ng-if="projectDetails.agency.imageFilename" />
      <div class="custom-initialsLogo ng-cloak" ng-if="!projectDetails.agency.imageFilename"><div class="ng-cloak" ng-bind="projectDetails.owner.name | createInitials"></div></div>
    </div>
    <div class="custom-pr10 custom-pl10" style=" margin-right:10px; flex-grow: 1; max-width: 600px;">
      <div>
        <h4 style="padding-top:0; margin-top:10px;" ng-class="{'custom-smallerText': (projectDetails.title.length > 70)}">{{ projectDetails.title }}</h4>
        <div style="display: flex;">
          <div style="margin-right: 15px;border-right: 1px solid #7a7a7a;padding-right: 15px;">
            <div style="font-size: 15px;"><strong>Project Owner:</strong> </div>
            <div >{{projectDetails.owner.name}}</div>
          </div>
          <div>
            <div ng-if="(projectDetails.owner.gpKey === userInfo.gpKey ) || (userInfo.role.gpKey === '{f87dc87e-d4c4-4e22-b025-f212cd659910}')">
              <button class="btn btn-sm btn-primary" ng-if="projectDetails.status.gpKey === '{79839C99-B83A-4420-A867-10ACF3BBDAB5}'" ng-click="deleteProject(projectDetails)">Delete Project</button>
              <button class="btn btn-sm btn-primary" ng-if="(projectDetails.status.gpKey === '{A40E44D2-332E-4D01-9039-28E52B5193FB}') && projectDetails.projectIsAllowedToClose" ng-click="closeProject(projectDetails)">Close Project</button>
              <button class="btn btn-sm btn-primary" ng-if="projectDetails.status.gpKey === '{74699447-4fad-47f9-9f68-48a3e86b7f5e}'" ng-click="archiveProject(projectDetails)">Archive Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-pr10 custom-pl10 custom-projectListItem-badges">
      <h4 for="projectTitle">Project Activity</h4>
      <div ><span class="badge badge-primary badge-outline">{{projectDetails.QuotesReceived.length}}</span> Quote<span ng-if="projectDetails.QuotesReceived.length != 1">s</span> to Review</div>
      <div ><span class="badge badge-primary badge-outline">{{projectDetails.EngagementsToApprove.length}}</span> Work to Approve</div>
      <div ><span class="badge badge-primary badge-outline">0</span> Payment<span ng-if="true">s</span> Due</div>
    </div>
    <div  style="background: transparent; min-width:200px;max-width: 250px;display: flex;flex-direction: column;">
      <div class="form-group">
        <h4 for="projectTitle">Change Project</h4>
        <select class="form-control" ng-model="selectedProject" ng-options="project as project.title for project in myProjects" ng-change="selectDifferentProject(selectedProject)">
          <option value="" style="display:none;">{{projectDetails.title}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
