<div id="custom-footer" class="gpFooter">
  <div class="custom-footerSocialMedia">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>
  <div class="custom-footerItems">
    <div class="custom-copyright">
      <i class="fa fa-copyright"></i> 2018 &nbsp; Company Name Title | All Rights Reserved
    </div>
    <ul class="custom-footerTerms">
      <li><a href="http://helpcenter.CompanyNme.com/legal-center/CompanyNme-terms-of-service" target="_blank">Terms of Service</a></li>
      <li><a href="mailto:support@CompanyNme.com">Contact Us</a></li>
    </ul>
  </div>
</div>
