<div class="custom-nav" company-dash-header></div>
<!-- <div id="companyDashboard" class="custom-dashWrapper" ng-init="dashInit()"  data-ng-controller="dashCtrl"> -->
<div id="companyDashboard" class="custom-dashWrapper" ng-init="dashInit()">
  <div class="custom-dashInner">
    <div>
      <div class="row row-offcanvas row-offcanvas-left custom-mainBodyWidth">

          <!-- Right Body -->
          <div class="col-md-9 col-md-push-3">
            <div class="visible-sm visible-xs" style="height:45px;">
              <div class="pull-left">
                <button type="button" class="btn btn-primary btn-xs custom-hamburgerMenu" data-toggle="offcanvas" title="Toggle sidebar"><i class="fa fa-bars"></i></button>
                 <a class=" navbar-brand " href="/" style="height:45px; float:right;">
                   CompanyNme
                 </a>
               </div>
            </div>
            <div class="panel-group" ng-init="dashMyProjectsInit()">
              <div class="panel panel-primary panel-outline">
                <div class="panel-heading">
                  <h4 class="panel-title custom-FilterTitle">
                    <i class="fa fa-plus-circle" ng-hide="openCDP" ng-click="openCompanyDashProjects()"></i>
                    <i class="fa fa-minus-circle" ng-show="openCDP" ng-click="closeCompanyDashProjects()"></i>
                    &nbsp; Projects</span>
                  </h4>
                </div>
                <div id="" class="panel-collapse custom-collapse" ng-class="{'custom-in' : openCDP}">
                  <div class="custom-systemNotificationsWrapper">
                    <div ng-include="'/views/company/dashboard/projectsAccordion.html'"></div>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary panel-outline custom-companyDashboardSystemNotifications">
                <div class="panel-heading">
                  <div>
                    <h4 class="panel-title custom-FilterTitle">
                      <i class="fa fa-plus-circle" ng-hide="openCDE" ng-click="openCompanyDashEngagements()"></i>
                      <i class="fa fa-minus-circle" ng-show="openCDE" ng-click="closeCompanyDashEngagements()"></i>
                      &nbsp; System Notifications <span class="badge badge-outline"  ng-if="newNotifications > 0">{{newNotifications}}</span>
                    </h4>
                    <span ng-show="openCDE">
                      <div ><span ng-hide="readMsgsVisible" ng-click="loadReadMsgs()">Load Archived Notifications</span></div>
                      <div ><span ng-show="readMsgsVisible" ng-click="hideReadMsgs()">Hide Archived Notifications</span></div>
                    </span>
                  </div>
                </div>
                <div id="" class="panel-collapse custom-collapse" ng-class="{'custom-in' : openCDE}">
                  <div class="custom-systemNotificationsWrapper">
                    <div ng-include="'/views/company/dashboard/systemNotifications/systemNotifications.html'"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Left Column -->
          <div class="col-xs-6 col-md-3 col-md-pull-9 sidebar-offcanvas custom-sideMenu" id="sidebar">
            <div class="dash-companyOverview md-whiteframe-2dp">
              <div class="md-whiteframe-2dp sidePadding">
                <div class="custom-companyLogo">
                  <img data-ng-src="{{envURL+userInfo.Company.imageFilename}}">
                </div>
              </div>
              <div>
                <h5>Organization &nbsp; <i class="fa fa-pencil-alt" ui-sref="companyProfile"></i></h5>
                <span>{{userInfo.Company.name}}</span>
              </div>
              <div >
                <h5>Business Type<span ng-if="companyInfo.businessTypes.length != 1">s</span></h5>
                <div ng-repeat="type in companyInfo.businessTypes">{{type.name}}</div>
              </div>
              <div >
                <h5>Cage Code</h5>
                <span>{{companyInfo.cage}}</span>
              </div>
              <div >
                <h5>Duns</h5>
                <span>{{companyInfo.duns}}</span>
              </div>
              <div >
                <h5>Primary NAICS</h5>
                <span>{{companyInfo.primaryNaicsCode.code}}</span>
              </div>
              <div >
                <h5>Authorized Payer<span ng-if="companyInfo.authorizedPayers.length != 1">s</span></h5>
                <span ng-if="companyInfo.authorizedPayers.length == 0">You have no authorized payers</span>
                <ul>
                  <li ng-repeat="ap in companyInfo.authorizedPayers">{{ap.email}}</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>


<script>
$(document).ready(function () {
  $('[data-toggle="offcanvas"]').click(function () {
    $('.row-offcanvas').toggleClass('active')
  });
});
</script>
