<md-dialog aria-label="Add Opportunity" id="osAddOppDialog">
  <md-toolbar class="md-gpBlue-theme">
    <div class="md-toolbar-tools">
      <h2>
        <span>Add Opportunity to Pipeline</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <md-input-container class="md-block">
        <label>Estimate Contract Value</label>
        <input type="number" ng-model="estimatedValue" placeholder="$">
      </md-input-container>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button ng-click="cancel()">
     cancel
    </md-button>
    <md-button ng-click="addOpportunityToPipeline(estimatedValue)">
     Add to Pipeline
    </md-button>
  </md-dialog-actions>
</md-dialog>
