<div class="panel panel-default osResultsPanel">
  <div class="panel-heading">
      <div class="row">
        <div class="col-md-2 osrlAgency">Agency</div>
        <div class="col-md-2 osrlOpportunity">Opportunity</div>
        <div class="col-md-2 osrlContract">Opportunity Type</div>
        <div class="col-md-2 osrlNAICS">NAICS</div>
        <div class="col-md-2 osrlClose">Close Date</div>
        <div class="col-md-2 osrlAction">Action</div>
      </div>
  </div>
  <div id="" class="osResultsList">
    <div class="row" ng-repeat="favOp in favoriteOpportunities track by $index">
      <div class="col-md-2 osrlAgency">
        <img ng-if="favOp.agency.imageFilename" data-ng-src="{{envURL+favOp.agency.imageFilename}}">
        <img ng-if="!favOp.agency.imageFilename" data-ng-src="{{envURL}}/images/placeholders/default-img.svg">
      </div>
      <div class="col-md-2 osrlOpportunity" ng-click="openDetailsModal($event, favOp)">
        <div><strong>{{favOp.name}}</strong></div>
        <div>{{favOp.agency.name}}</div>
        <div>{{favOp.setAside.name}}</div>
      </div>
      <div class="col-md-2 osrlContract"><div>{{favOp.opportunityType.name}}</div></div>
      <div class="col-md-2 osrlNAICS"><div>{{favOp.naicsCode}}</div></div>
      <div class="col-md-2 osrlClose"><div>{{favOp.closeDate  | dateConverter | date}}</div></div>
      <div class="col-md-2 osrlAction">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <!-- <li ng-click="runTeammateMatchReport()">Run Teammate Match Report</li> NOTE: Keep - to be included later -->
            <li ng-click="CoNameRemoveOpportunityFavorite(favOp)">Remove from Favorites</li>
            <li ng-click="openAddOppToPipelineModal($event, favOp)">Add to Pipeline</li>
            <li ng-click="createProject(favOp)">Create Project</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END NG REPEAT -->
    <!-- PAGINATION -->
    <div class="col col-md-12" ng-show="">
      <section layout="row" layout-padding="favPagesTotal > 1">
        <cl-paging flex cl-pages="favPaging.total" , cl-steps="6" , cl-page-changed="favPaging.onPageChaged()" , cl-align="center center" , cl-current-page="favPaging.current"></cl-paging>
      </section>
    </div>
  </div>
</div>
