<div login-header></div>
<div class="view custom-signUpView custom-consultantSignUp">
      <div class="custom-signUpStatusBar" layout="row" layout-align="center center">
        <div layout="column" layout-align="center center">
          <h1 class="md-flex" ng-show="!linkedInProfileData || !showLinkedInStep">Create Consultant Account</h1>
          <h1 class="md-flex" ng-show="linkedInProfileData && showLinkedInStep">You're All Set!</h1>
          <div class="custom-statusBarConsultant" ng-show="!linkedInProfileData || !showLinkedInStep">
            <div class=" custom-bulletedStatusBar">
              <div class="custom-bullets step1 completed">
                <i class="fa fa-check"></i>
              </div>
              <div class="custom-statusBarLinks">
                <div>&nbsp;</div>
              </div>
              <div class="custom-bullets step2 completed"><i class="fa fa-check"></i></div>
              <div class="custom-statusBarLinks">
                <div>&nbsp;</div>
              </div>
              <div class="custom-bullets step3">3</div>
            </div>
          </div>
          <div class="custom-statusBarConsultant" ng-show="linkedInProfileData && showLinkedInStep">
            <div class=" custom-bulletedStatusBar">
              <div class="custom-bullets step1 completed">
                <i class="fa fa-check"></i>
              </div>
              <div class="custom-statusBarLinks">
                <div>&nbsp;</div>
              </div>
              <div class="custom-bullets step2 completed"><i class="fa fa-check"></i></div>
              <div class="custom-statusBarLinks">
                <div>&nbsp;</div>
              </div>
              <div class="custom-bullets step3 completed"><i class="fa fa-check"></i></div>
            </div>
          </div>
        </div>
      </div>
      <md-toolbar class="md-hue-custom" >
        <div class="md-toolbar-tools" layout="row" layout-align="center center">
          <div layout="column" layout-align="center center">
            <h2 class="md-flex" ng-show="!linkedInProfileData || !showLinkedInStep">Expand your reach to Government Contractors that need your skills and expertise</h2>
            <h2 class="md-flex" ng-show="linkedInProfileData && showLinkedInStep">Your LinkedIn Profile has been added and you are ready to go!</h2>
          </div>
        </div>
      </md-toolbar>

      <!-- ///////////////////// SIGN Up - First Step //////////////////////// -->
      <div class="custom-StepContainer  custom-mainBodyWidth md-whiteframe-2dp" ng-hide="showLinkedInStep && (consultantInfo.accountInfo.firstName && consultantInfo.accountInfo.lastName && consultantInfo.accountInfo.email && consultantInfo.accountInfo.password)">
      <!-- <div class="custom-StepContainer" ng-hide="true"> -->
        <div class="custom-Step3">
          <div class="custom-Step3-Title"><h1>Your Account Info</h1></div>
          <div>
            <form name="consultantSignUpStep1" ng-submit="submit()">
              <div ng-form="consultantSignUpStep1" novalidate>
                  <div class="row">
                    <div class="col col-md-6">
                    <div class="form-group">
                      <input type="text" name="firstName" class="form-control" id="custom-firstName" placeholder="*Your First Name" ng-model="consultantInfo.accountInfo.firstName" required>
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <div class="form-group">
                      <input type="text" name="lastName" class="form-control" id="custom-lastName" placeholder="*Your Last Name" ng-model="consultantInfo.accountInfo.lastName" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col col-md-4">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" id="custom-email" placeholder="*Your Email Address" ng-model="consultantInfo.accountInfo.email" required>
                      <span ng-show="consultantSignUpStep1.email.$touched && consultantSignUpStep1.email.$invalid" class="custom-error">Please enter a valid email address</span>
                    </div>
                  </div>
                  <div class="col col-md-4">
                    <div class="form-group">
                      <input type="password" name="password" class="form-control" id="custom-password" placeholder="*Password" ng-model="consultantInfo.accountInfo.password" required>
                    </div>
                  </div>
                  <div class="col col-md-4">
                    <div class="form-group">
                      <input type="password" name="confirmPass" class="form-control" id="custom-confirmPass" placeholder="*Confirm Password" ng-model="consultantInfo.accountInfo.confirmPass" compare-to="consultantInfo.accountInfo.password">
                      <span ng-show="consultantSignUpStep1.confirmPass.$error.compareTo && consultantSignUpStep1.confirmPass.$touched" class="custom-error">This field must match what you entered in the above password field</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-md-6">
                    <div class="form-group">
                      <input type="text" name="companyName" class="form-control" id="custom-companyName" placeholder="Company Name" ng-model="consultantInfo.accountInfo.companyName">
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <div class="form-group">
                      <input type="text" name="referralCode" class="form-control" id="custom-referralCode" placeholder="Referral Code" ng-model="consultantInfo.accountInfo.referralCode">
                    </div>
                  </div>
                </div>



                <div style="display:flex;align-items: center; ">
                  <div ng-controller="recaptchaCtrl">
                    <div  vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
                  </div>
                  <md-checkbox aria-label="Checkbox 1" ng-model="terms" class="md-gpSolidBlue md-raised" style="margin-left:15px;" required> I agree to the <a href="http://helpcenter.CompanyNme.com/legal-center/CompanyNme-terms-of-service" target="_blank">Terms of Service</a></md-checkbox>
                </div>
                <div class="row custom-btnWrapper">
                  <div class="col col-md-6 custom-backBtn">
                    <button class="btn btn-default btn-outline" ng-click="goBackToSignUp()">Back</button>
                  </div>
                  <div class="col col-md-6 custom-nextBtn">
                    <button class="btn btn-warning" type="submit" ng-click="goToStepLinkedIn(consultantInfo.accountInfo)" ng-disabled="consultantSignUpStep1.$invalid">Next</button>
                  </div>
                  <div class="custom-SubmitError col col-md-12">
                    <span ng-show="duplicateEmails" class="custom-error">*This email is already associated with an account.  Please use the Log In link at the top right to log in.</span>
                  </div>
                  <div class="custom-SubmitError col col-md-12">
                    <span ng-show="consultantSignUpStep1.$invalid">*Please fill out required fields to continue.</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ///////////////////// SIGN Up - Linked In //////////////////////// -->
      <div class="custom-StepContainer  custom-mainBodyWidth md-whiteframe-2dp" ng-show="showLinkedInStep && (consultantInfo.accountInfo.firstName && consultantInfo.accountInfo.lastName && consultantInfo.accountInfo.email && consultantInfo.accountInfo.password)">
        <div class="custom-Step3">
          <div class="custom-Step3-Title custom-doubleHeader" ng-show="!linkedInProfileData">
            <h1>Add Your LinkedIn Account Info</h1>
            <h1>Improve Your Chances of getting Hired</h1>
          </div>
          <div class="custom-Step3-Title" ng-show="linkedInProfileData">
            <h1>Click Submit to Get Started!</h1>
          </div>
          <p>
            This information will be used to populate your profile and can be edited by you at anytime.  Thus, allowing you a better chance of matching you with opportunities.
            CompanyNme takes your privacy very seriously, this is a one time access that will help us, help you make a more complete profile.    For more information on our privacy policy read <a href="http://helpcenter.CompanyNme.com/legal-center/CompanyNme-terms-of-service" target="_blank">here</a>.
          </p>
          <div class="row custom-btnWrapper">
            <div class="col col-md-6" style="text-align: right;">
              <button class="btn btn-warning" ng-click="CoNameSetConsultantSignUpWithoutLinkedIn(consultantInfo.accountInfo, 1)">Submit Without LinkedIn</button>
            </div>
            <div class="col col-md-6">
                <div ng-show="!linkedInProfileData">
                  <a href=""><img ng-click="liAuth()" src="/images/icons/LinkedIn.png"></a>
                </div>
                <img ng-show="linkedInProfileData" src="/images/icons/LinkedInSubmit.png " alt="Submit" ng-click="CoNameSetConsultantSignUp(consultantInfo.accountInfo, linkedInProfileData)">
            </div>
          </div>
          </div>
        </div>
  </div>
