  <!-- ///////////// Marketing Site /////////////// -->
		<link href='/css/libraries/marketingSite/style.min.css' id='avada-stylesheet-css' media='all' rel='stylesheet' type='text/css'>
<!--[if lte IE 9]>
<![endif]-->
	<!--[if IE]>
<link rel='stylesheet' id='avada-IE-css'  href='/css/libraries/marketingSite/ie.css' type='text/css' media='all' />
<![endif]-->
<link href='/css/libraries/marketingSite/fusion-153.min.css' id='fusion-dynamic-css-css' media='all' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400%7CRoboto:500" media="all" property="stylesheet" rel="stylesheet" type="text/css">


<div>
	<div id="wrapper">
		<header class="fusion-header-wrapper">
			<div class="fusion-header-v1 fusion-logo-left fusion-sticky-menu- fusion-sticky-logo- fusion-mobile-logo- fusion-mobile-menu-design-modern">
				<div class="fusion-header">
					<div class="fusion-row">
						<div class="fusion-logo" data-margin-bottom="31px" data-margin-left="0px" data-margin-right="0px" data-margin-top="31px">
							<a class="fusion-logo-link" href="https://www.CompanyNme.com/"><!-- standard logo -->
							 <img alt="CompanyNme Logo" class="fusion-standard-logo" height="45" src="/images/marketingSite/CompanyNme_LogoTM.png" srcset="/images/marketingSite/CompanyNme_LogoTM.png 1x" width="303"></a>
						</div>


						<nav aria-label="Main Menu" class="fusion-main-menu">
							<ul class="fusion-menu" id="menu-main-menu" role="menubar">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76" id="menu-item-76" role="menuitem">
									<a class="fusion-background-highlight" href="https://www.CompanyNme.com/government-contractor/"><span class="menu-text"><em style="color: #999999">IF YOU’RE A &#8230;</em><br>
									Government<br>
									Contractor</span></a>
								</li>


								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152" id="menu-item-152" role="menuitem">
									<a class="fusion-background-highlight" href="https://www.CompanyNme.com/government-agency/"><span class="menu-text"><em style="color: #999999">IF YOU’RE A &#8230;</em><br>
									Government<br>
									Agency</span></a>
								</li>


								<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-153 current_page_item menu-item-156" id="menu-item-156" role="menuitem">
									<a class="fusion-background-highlight" href="/freelance-consultant"><span class="menu-text"><em style="color: #999999">IF YOU’RE AN &#8230;</em><br>
									Independent Expert or<br>
									Consultant Company</span></a>
								</li>


								<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11" id="menu-item-11" role="menuitem">
									<a class="fusion-background-highlight" href="https://www.CompanyNme.com/blog/"><span class="menu-text"><br>
									Blog</span></a>
								</li>

								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5656" id="menu-item-5656" role="menuitem">
									<a class="fusion-background-highlight" href="https://www.CompanyNme.com/frequently-asked-questions/?"><span class="menu-text"><br>
									FAQ</span></a>
								</li>


								<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13 fusion-menu-item-button" id="menu-item-13" role="menuitem">
									<a class="fusion-background-highlight" href="https://www.CompanyNmeapp.com/login"><span class="menu-text fusion-button button-default button-medium">Login</span></a>
								</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</header>


		<div>


			<div style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				<!-- START REVOLUTION SLIDER 5.4.7.2 auto mode -->


				<div >
					<ul style="margin-bottom:0;">
						<!-- SLIDE  -->


						<li style="background-repeat: no-repeat;background-image: url(https://www.CompanyNme.com/wp-content/uploads/2018/03/slider.jpg);background-size: cover;background-position: center center;width: 100%;height: 100%;opacity: 1;visibility: inherit;z-index: 20;padding: 1.4vw;">
							<!-- MAIN IMAGE -->
							 <!-- LAYERS -->
							 <div class="custom-flex custom-justifyFlexCenter" style="">
							 <!-- LAYER NR. 1 -->

								<!-- LAYER NR. 2 -->
								<div style="max-width: 23vw;margin-left: 14vw;">
									<img src="/images/marketingSite/CompanyNme_banner-traps_freelancer.png">
								</div>
								<!-- LAYER NR. 3 -->
								<div class="custom-flex custom-flex-column" style="max-width: 55vw;padding: 1.25vw;">
									<div style="
									font-weight: 400;
								    color: rgb(255, 255, 255);
								    font-size: 1.6vw;padding-bottom: 1.25vw;">
										CompanyNme makes it easy for clients to find my professional freelance profile via their "Match.com-like" searchable database.
									</div>
									<div>
										<button style="font-family:Roboto;text-transform:uppercase;background-color:rgb(228,108,11);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;
											font-size: 1.25vw;
											line-height: 1.25vw;
										    font-weight: 500;
										    padding:.6vw 1.6vw;
										    color:white;
										    margin-left: 14vw;"
												ng-click="goToConsultantMarketingSignUp()">
											Sign Up
										</button>
									</div>
								</div>
							</div>
						</li>
					</ul>



				</div>

			</div>
			<!-- END REVOLUTION SLIDER -->
		</div>


		<main class="width-100" id="main" role="main" style="padding-left:30px;padding-right:30px">
			<div class="fusion-row" style="max-width:100%;">
				<section class="full-width" id="content">
					<div class="post-153 page type-page status-publish hentry" id="post-153">
						<span class="entry-title rich-snippet-hidden">Freelance Consultant</span> <span class="vcard rich-snippet-hidden"><span class="fn"><a href="https://www.CompanyNme.com/author/bebuxmasters/" rel="author" title="Posts by bebuxmasters">bebuxmasters</a></span></span> <span class="updated rich-snippet-hidden">2018-05-22T17:40:54+00:00</span>

						<div class="post-content">
							<div class="fusion-fullwidth fullwidth-box fusion-parallax-none nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style='background-color: rgba(255,255,255,0);background-image: url("/images/marketingSite/CompanyNme_trap-strips_freelancer.png");background-position: center top;background-repeat: repeat-x;padding-top:16px;padding-right:30px;padding-bottom:0px;padding-left:30px;'>
								<div class="fusion-builder-row fusion-row">
									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last 1_1" style='margin-top:0px;margin-bottom:20px;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="fusion-clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:30px;padding-bottom:0px;padding-left:30px;'>
								<div class="fusion-builder-row fusion-row">
									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last 1_1" style='margin-top:0px;margin-bottom:20px;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 20px 0px 20px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="fusion-text">
												<h1 style="text-align: center;">The Government <span class="orange-txt">Freelance Exchange</span></h1>


												<h2 style="text-align: center;"><span class="grey-txt">Why CompanyNme is the right solution!</span>
												</h2>
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>


									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-one-half fusion-column-first 1_2" style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );margin-right: 4%;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="fusion-text">
												<h3 class="grey-txt"><i class="fa fontawesome-icon fa-check circle-yes" style="border-color: #e46c0b; background-color: #e46c0b; font-size: 15.84px; line-height: 31.68px; height: 31.68px; width: 31.68px; margin-right: 12px; color: #ffffff;"></i> Registration is FREE!</h3>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:20px;">
											</div>


											<div class="fusion-text">
												<h3 class="grey-txt"><i class="fa fontawesome-icon fa-check circle-yes" style="border-color: #e46c0b; background-color: #e46c0b; font-size: 15.84px; line-height: 31.68px; height: 31.68px; width: 31.68px; margin-right: 12px; color: #ffffff;"></i>The Marketing is done for me, so I can focus on providing professional services.</h3>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:20px;">
											</div>


											<div class="fusion-text">
												<h3 class="grey-txt"><i class="fa fontawesome-icon fa-check circle-yes" style="border-color: #e46c0b; background-color: #e46c0b; font-size: 15.84px; line-height: 31.68px; height: 31.68px; width: 31.68px; margin-right: 12px; color: #ffffff;"></i>Easy to use template quickly creates my Professional Profile.</h3>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:20px;">
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>


									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-one-half fusion-column-last 1_2" style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="fusion-text">
												<h3 class="grey-txt"><i class="fa fontawesome-icon fa-check circle-yes" style="border-color: #e46c0b; background-color: #e46c0b; font-size: 15.84px; line-height: 31.68px; height: 31.68px; width: 31.68px; margin-right: 12px; color: #ffffff;"></i>CompanyNme tracks required &#8220;paperwork&#8221; (e.g. NDA&#8217;s and OCI agreements)&nbsp;digitally.</h3>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:20px;">
											</div>


											<div class="fusion-text">
												<h3 class="grey-txt"><i class="fa fontawesome-icon fa-check circle-yes" style="border-color: #e46c0b; background-color: #e46c0b; font-size: 15.84px; line-height: 31.68px; height: 31.68px; width: 31.68px; margin-right: 12px; color: #ffffff;"></i>FAST PAY feature provides payment within 48 hours of client acceptance of work.</h3>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:20px;">
											</div>


											<div class="fusion-text">
												<h3 class="grey-txt"><i class="fa fontawesome-icon fa-check circle-yes" style="border-color: #e46c0b; background-color: #e46c0b; font-size: 15.84px; line-height: 31.68px; height: 31.68px; width: 31.68px; margin-right: 12px; color: #ffffff;"></i>At the end of the year, CompanyNme automatically provides my 1099.</h3>
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:40px;padding-right:30px;padding-bottom:0px;padding-left:30px;'>
								<div class="fusion-builder-row fusion-row">
									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-one-third fusion-column-first 1_3" style='margin-top:0px;margin-bottom:20px;width:33.33%;width:calc(33.33% - ( ( 4% + 4% ) * 0.3333 ) );margin-right: 4%;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 30px 0px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="imageframe-align-center">
												<span class="fusion-imageframe imageframe-none imageframe-1 hover-type-none"><a aria-label="CompanyNme_trap-img_group2" class="fusion-no-lightbox" href="https://www.CompanyNme.com/wp-content/uploads/2018/05/CompanyNme_One-Pager.pdf" target="_self"><img alt="CompanyNme Brochure" class="img-responsive wp-image-5527" height="144" sizes="(max-width: 800px) 100vw, 271px" src="/images/marketingSite/CompanyNme_trap-img_group2.png" srcset="/images/marketingSite/CompanyNme_trap-img_group2-200x106.png 200w, /images/marketingSite/CompanyNme_trap-img_group2.png 271w" width="271"></a></span>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:5px;">
											</div>


											<div class="fusion-text">
												<h5>See the variety of our clients searching for independent experts.</h5>
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>


									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-one-third 1_3" style='margin-top:0px;margin-bottom:20px;width:33.33%;width:calc(33.33% - ( ( 4% + 4% ) * 0.3333 ) );margin-right: 4%;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 30px 0px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="imageframe-align-center">
												<span class="fusion-imageframe imageframe-none imageframe-2 hover-type-none"><a aria-label="CompanyNme_trap-img_searchresults" class="fusion-no-lightbox" href="https://www.CompanyNme.com/wp-content/uploads/2018/05/CompanyNme_ConsultantDashboard.pdf" target="_self"><img alt="CompanyNme Consultant Dashboard" class="img-responsive wp-image-216" height="144" sizes="(max-width: 800px) 100vw, 271px" src="/images/marketingSite/CompanyNme_trap-img_searchresults.png" srcset="/images/marketingSite/CompanyNme_trap-img_searchresults-200x106.png 200w, /images/marketingSite/CompanyNme_trap-img_searchresults.png 271w" width="271"></a></span>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:5px;">
											</div>


											<div class="fusion-text">
												<h5 style="text-align: left;">View our Consultant Profile Dashboard.</h5>
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>


									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-one-third fusion-column-last 1_3" style='margin-top:0px;margin-bottom:20px;width:33.33%;width:calc(33.33% - ( ( 4% + 4% ) * 0.3333 ) );'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 30px 0px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="imageframe-align-center">
												<span class="fusion-imageframe imageframe-none imageframe-3 hover-type-none"><a aria-label="CompanyNme_trap-img_free2" class="fusion-no-lightbox" href="https://www.CompanyNmeapp.com/signUp" target="_self"><img alt="" class="img-responsive wp-image-5525" height="144" sizes="(max-width: 800px) 100vw, 271px" src="/images/marketingSite/CompanyNme_trap-img_free2.png" srcset="/images/marketingSite/CompanyNme_trap-img_free2-200x106.png 200w, /images/marketingSite/CompanyNme_trap-img_free2.png 271w" width="271"></a></span>
											</div>


											<div class="fusion-sep-clear">
											</div>


											<div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:5px;">
											</div>


											<div class="fusion-text">
												<!-- <a href="https://www.CompanyNmeapp.com/signUp"> -->
												<h5 style="text-align: left;">Create your professional profile for FREE!&nbsp;<a ng-click="goToConsultantMarketingSignUp()">Sign Up Now!</a></h5>
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:40px;padding-right:30px;padding-bottom:0px;padding-left:30px;'>
								<div class="fusion-builder-row fusion-row">
									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-one-half fusion-column-first 1_2" style='margin-top:0px;margin-bottom:20px;width:50%; padding:0 20px;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="fusion-title title fusion-sep-none fusion-title-center fusion-title-size-one" style="margin-top:0px;margin-bottom:31px;">
												<h1 class="title-heading-center">What our experts are saying&#8230;</h1>
											</div>


											<div class="fusion-testimonials clean fusion-testimonials-1" data-random="0">
												<div class="reviews">
													<div class="review avatar-image" style="display:block;">
														<div class="testimonial-thumbnail"><img class="testimonial-image" height="151" src="/images/marketingSite/CompanyNme_melbaker2.png" style="-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;" width="152">
														</div>


														<blockquote style="margin: -25px;background-color:rgba(255,255,255,0);">
															<q style="background-color:rgba(255,255,255,0);color:#747474;" class="fusion-clearfix">
																<blockquote>
																<div>“CompanyNme has proven an invaluable tool to me as a means to expand&nbsp;my client base without direct marketing expense or time and also as a wonderful way to streamline the paperwork process associated with consulting – including all of my contracts, invoicing, and 1099s.&nbsp; The absolute best thing from a consultant’s perspective is the rapid payment feature.”</div>
																</blockquote>
															</q>
														</blockquote>


														<div class="author" style="color:#747474;">
															<span class="company-name"><strong>Mel Baker</strong>, <span>Independent Expert</span></span>
														</div>
													</div>
												</div>


												<div class="testimonial-pagination" id="fusion-testimonials-1">
												</div>
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>


									<div id="marketingConsultantSignUp" class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-one-half fusion-column-last 1_2" style='margin-top:0px;margin-bottom:20px;width:50%;padding:0 20px;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="fusion-title title fusion-sep-none fusion-title-center fusion-title-size-one" style="margin-top:0px;margin-bottom:31px;">
												<h1 class="title-heading-center">Register for a Free Consultant Account Here</h1>
											</div>

											<form name="marketingSiteConsultantSignUp" ng-submit="submit()">
								              <div ng-form="marketingSiteConsultantSignUp" novalidate>
								              	<div class="row">
									              	<div class="custom-errorMsgTop col col-md-12">
									                    <span ng-show="marketingSiteConsultantSignUp.$invalid">*Please fill out required fields.</span>
									                </div>
								                </div>
								                  <div class="row">
								                    <div class="col col-md-6">
								                    <div class="form-group">
								                      <input type="text" name="firstName" class="form-control" id="custom-firstName" placeholder="*Your First Name" ng-model="consultantInfo.accountInfo.firstName" required>
								                    </div>
								                  </div>
								                  <div class="col col-md-6">
								                    <div class="form-group">
								                      <input type="text" name="lastName" class="form-control" id="custom-lastName" placeholder="*Your Last Name" ng-model="consultantInfo.accountInfo.lastName" required>
								                    </div>
								                  </div>
								                </div>

								                <div class="row">
								                  <div class="col col-md-4">
								                    <div class="form-group">
								                      <input type="email" name="email" class="form-control" id="custom-email" placeholder="*Your Email Address" ng-model="consultantInfo.accountInfo.email" required>
								                      <span ng-show="marketingSiteConsultantSignUp.email.$touched && marketingSiteConsultantSignUp.email.$invalid" class="custom-error">Please enter a valid email address</span>
								                    </div>
								                  </div>
								                  <div class="col col-md-4">
								                    <div class="form-group">
								                      <input type="password" name="password" class="form-control" id="custom-password" placeholder="*Password" ng-model="consultantInfo.accountInfo.password" required>
								                    </div>
								                  </div>
								                  <div class="col col-md-4">
								                    <div class="form-group">
								                      <input type="password" name="confirmPass" class="form-control" id="custom-confirmPass" placeholder="*Confirm Password" ng-model="consultantInfo.accountInfo.confirmPass" compare-to="consultantInfo.accountInfo.password">
								                      <span ng-show="marketingSiteConsultantSignUp.confirmPass.$error.compareTo && marketingSiteConsultantSignUp.confirmPass.$touched" class="custom-error">This field must match what you entered in the above password field</span>
								                    </div>
								                  </div>
								                </div>
								                <div class="row">
								                  <div class="col col-md-6">
								                    <div class="form-group">
								                      <input type="text" name="companyName" class="form-control" id="custom-companyName" placeholder="Company Name" ng-model="consultantInfo.accountInfo.companyName">
								                    </div>
								                  </div>
								                  <div class="col col-md-6">
								                    <div class="form-group">
								                      <input type="text" name="referralCode" class="form-control" id="custom-referralCode" placeholder="Referral Code" ng-model="consultantInfo.accountInfo.referralCode">
								                    </div>
								                  </div>
								                </div>



								                <div style="display:flex;align-items: center; ">
								                  <div ng-controller="recaptchaCtrl">
								                    <div  vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
								                  </div>
								                  <md-checkbox aria-label="Checkbox 1" ng-model="terms" class="md-gpSolidBlue md-raised" style="margin-left:15px; font-size:14px;" required> I have read and agree to the <a href="http://helpcenter.CompanyNme.com/legal-center/CompanyNme-terms-of-service" target="_blank">Terms of Service</a></md-checkbox>
								                </div>
								                <div class="row custom-btnWrapper">
								                  <div class="col col-md-12" style="text-align: center;">
								                    <button class="btn btn-warning" type="submit" ng-click="CoNameSetConsultantSignUpWithoutLinkedIn(consultantInfo.accountInfo, 2)" ng-disabled="marketingSiteConsultantSignUp.$invalid">Create Account</button>
								                  </div>
								                  <div class="custom-SubmitError col col-md-12">
								                    <span ng-show="duplicateEmails" class="custom-error">*This email is already associated with an account.  Please use the Log In link at the top right to log in.</span>
								                  </div>
								                  <!-- <div class="custom-SubmitError col col-md-12">
								                    <span ng-show="marketingSiteConsultantSignUp.$invalid">*Please fill out required fields to continue.</span>
								                  </div> -->
								                </div>
								              </div>
								            </form>
										</div>
									</div>
								</div>
							</div>


							<div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:30px;padding-bottom:20px;padding-left:30px;'>
								<div class="fusion-builder-row fusion-row">
									<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last 1_1" style='margin-top:0px;margin-bottom:20px;'>
										<div class="fusion-column-wrapper" data-bg-url="" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
											<div class="fusion-text">
												<h1 style="text-align: center;">The Government <span class="orange-txt">Freelance Exchange</span></h1>


												<h2 style="text-align: center;"><span class="grey-txt">We match government contractors and agencies with the best independent experts</span>
												</h2>
											</div>


											<div class="fusion-clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- fusion-row -->
		</main>
		<!-- #main -->

		<footer class="fusion-footer-copyright-area" id="footer">
			<div class="fusion-row">
				<div class="fusion-copyright-content">
					<div class="fusion-copyright-notice">
						<div>
							<div style="float: left">
								Copyright 2018 | CompanyNme | All Rights Reserved.
							</div>


							<div style="float: right;">
								<a href="/about-us/">About Us</a> | <a href="/partners/">Partners</a> | <a href="http://helpcenter.CompanyNme.com/legal-center/CompanyNme-terms-of-service">Terms of Service</a>
							</div>
						</div>
					</div>
				</div>
				<!-- fusion-fusion-copyright-content -->
			</div>
			<!-- fusion-row -->
		</footer>
		<!-- #footer -->
	</div>
	<!-- fusion-footer -->
</div>
	<!-- wrapper -->
	<!-- <a class="fusion-one-page-text-link fusion-page-load-link"></a>  -->
<!-- </div> -->
