.ngViewWrapper {background-color: inherit; min-height: calc(100% - 227px);}
//
// **************** Page Structure ******************
.custom-mainBodyWidth {width: 100%;max-width: 1200px; margin: auto;}
.innerPadding {padding: 20px 20px;}
.sidePadding{padding:10px;}
.alignCenter {text-align: center;}
.centerTextLineDivider {}
.centerTextLineDivider { width:100%; text-align:center; border-bottom: 1px solid $appBlue; line-height:0.1em; margin:10px 0 20px; }
.centerTextLineDivider span { background:#fff; padding:0 10px; }

ul li {margin:0;}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.custom-pageTitle {margin:10px 0px 20px;}
.custom-formSize {width:100%; max-width: 1200px; margin:auto;}
.custom-doubleHeader h1 {margin:5px; padding:0;}
.custom-usabilitySpace {background: transparent;padding: 15px;box-sizing: content-box;display: flex;justify-content: space-between; flex-wrap: wrap;}
.custom-usabilitySpace h1, .custom-usabilitySpace h2, .custom-usabilitySpace h3, .custom-usabilitySpace h4 {padding:0; margin:0;}

/************************** Borders *********************/
.custom-simpleBorder {border: 1px solid $appLtGrey;}


/****************************** ERRORS and WARNINGS ************************/
.custom-SubmitError {text-align: center; color:$appDangerRed;padding-top: 15px;}
.custom-errorMsgTop {text-align: center; color:$appDangerRed;padding-bottom: 15px;}
.custom-error {color:$appDangerRed; font-weight:bold;}
.custom-errOutline {border-color: $appDangerRed !important;} //Note: similar to .errorFields in forms.scss
.custom-readMsg {background: $appMedOrange;}
.btn-errorMsg {text-align: right;}
.custom-consultantEditSectionWithBtn h4 span {color:$appWhite;}

/************************** Semi Transparent Overlays *********************/
.custom-defaultOverlay {background: rgba(113, 113, 113, 0.7);}
.custom-primaryOverlay {background: rgba(46, 116, 146, 0.70);}
.custom-warninapperlay {background: rgba(253, 135, 36, 0.70);}
.custom-infoOverlay {background: rgba(52, 152, 219, 0.70);}
.custom-successOverlay {background: rgba(83, 177, 83, 0.70);}
.custom-dangerOverlay {background: rgba(231, 76, 60, 0.70);}

/****************************** Images and Logos ************************/
.custom-initialsLogo {height: 100%;width: 100%;background: $appBlue;color: $appWhite;font-size: 30px;font-size: 15px;border-radius: 50%;display: flex;flex-direction: column;align-items: center;justify-content: center;}
/****************************** STAR RATING ************************/
.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: $appStarGoldLt;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px $appStarGoldDk;
    text-shadow: 0px 0px $appStarGold;
}
.rating-sm {font-size: 30px;line-height: 30px;}
.rating-xs {font-size: 18px;}
.rating-xxs {font-size: 17px;display: inline-block;}
.rating-xxs  .glyphicon-star:before {}
.rating-container .rating-input {height:0}

/********************** iFrame *************************/
iframe {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  width:100%;
  // height:100vh;
}

/************************** UL and OL ****************************/
  .custom-bubbleLI li, .custom-bubbleLI a {float:left;margin-right: 15px;margin-top: 5px;border: 1px solid $appMedLtGrey;padding: 5px 15px;border-radius: 15px;}
  .custom-bubbleLI li:first-child {margin-top:5px;}


/************************ IMAGE CROPPER *****************/
.urlSite-CropperWrapper {height:200px; width:200px;}
.cropper {margin: 1.5rem;}
.imgCropper-wrapper {margin: 7px auto 0 auto;max-width: 40rem;text-align: center;width: 100%;}
.frame {border: 2px solid $appWhite;margin-bottom: 20px;}
.frame > img {width: 100%;}

#controls button {
  margin: 0 5px;
  background: $appWhite;
  border: none;
  cursor: pointer;
  min-width: 2em;
  font-size: 16px;
  line-height: 30px;
  transition: background 200ms ease-out;
}
#controls button:hover {background: $materializeBlue;}

.result {
  clear: both;
  margin-top: 50px;
  width: 200px;
  height: 160px
}
.result img { width: 100%; }
.imgCropper-controls {width: 110%;}

/******************************************/
.collapsible-body {border-top: 2px solid $appBorderGrey;}
.collapsible-body div div {padding:0;}
.progress.tight {height: 10px;}

/*********************** RESPONSIVE Media Sizes ***********************/
.custom-max480, .custom-max568, .custom-max768, .custom-max992 {display:none;}
/************* BOOTSTRAP SIZES ********************/
/****** Medium Devices *****/
@media screen and (max-width:1200px) {

}
/****** Small Devices *****/
@media screen and (max-width: 992px) {
.custom-max992 {display:block;}
}
/****** iPad *****/
@media screen and (max-width: 768px) {
.custom-max768 {display:block;}
}

/************* OTHER SIZES ********************/
/****** Medium Devices *****/
@media screen and (max-width: 1100px) {

}
/****** iPhone 5 *****/
@media screen and (max-width: 568px) {

}
/****** iPhone 4 *****/
@media screen and (max-width: 480px) {
.custom-min480 {display:none;}
.custom-max480 {display:block;}
}
@media screen and (max-width: 320px) {

}


/*************** SideNav ****************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: $appBlue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
      a {
         padding: 8px 8px 8px 32px;
         text-decoration: none;
         font-size: 25px;
         color: $appMedGrey;
         display: block;
         transition: 0.3s;
         @media screen and (max-height: 450px) { font-size: 18px; }

     }
     a:hover {color: $appGreyBG;}
     .closebtn {
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 31px;
         margin-left: 50px;
         color: $appWhite;
     }
     li.list-group-item {border-radius:0;border-bottom-color: $appBlue;border-right-color: $appBlue;border-left-color: $appBlue;border-top-color: $appWhite;margin-bottom:1px;}
     @media screen and (max-height: 450px) { padding-top: 15px; }
}

/*************** FOOTER **************/
.gpFooter  {background: $appMdDkGrey;color: rgba( $appWhite, .53 );padding: 10px;font-size: 12px;box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 3px 4px;
  a {color: rgba( $appWhite, .53 );}
  .custom-footerItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
   }
  .custom-footerSocialMedia {display: flex;justify-content:center;margin: 40px 0;
      i {font-size: 18px;width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;background-color:rgba( $appWhite, .53 );color: $appExDkGrey;border-radius:50%;margin: 0 10px;}
    }
  .custom-copyright {margin:15px 0; text-align: center;}
  .custom-footerTerms {display:flex;
    li {margin-left:5px;}
    li:after {content: '|'; margin-left:5px;}
    li:last-child:after {content: ''; margin-left:0px;}
  }
}

/**************** BOCK UI *****************/
.block-ui-message {
  display: inline-block;
  text-align: left;
  background-color: $appBlue;
  color: $appWhite;
  padding: 20px;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 400;
  filter: alpha(opacity=100);
  position: relative;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0
    }
    to {
        transform-origin: center;
        transform: none;
        opacity: 1
    }
}

//**************** Text Divider - Get Started Screen **********
.custom-surroundingTextDivider {
  line-height: 0.5;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.custom-surroundingTextDivider span {
  display: inline-block;
  position: relative;
}
.custom-surroundingTextDivider span:before,
.custom-surroundingTextDivider span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 2px dotted $appMedGrey;
  top: 2px;
  width: 260px;
}
.custom-surroundingTextDivider span:before {
  right: 100%;
  margin-right: 15px;
}
.custom-surroundingTextDivider span:after {
  left: 100%;
  margin-left: 15px;
}

// Fix for angular hide show jumping.
.ng-hide.ng-hide-animate {
display: none !important;
}
//
