/***************************************************************************/
/************************** Material Design CUSTOMIZED *********************/
/***************************************************************************/
  .collapsible-header {padding:5px;}


/************************** MD Buttons *********************/
  .md-button {border-radius:0;}
  .md-button.md-default-theme.md-raised.custom-nextBtn , .md-button.md-raised.custom-nextBtn {background-color: #7d7d7d; color: #fff;}
  .md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {background-color: rgba(116, 116, 116, 0.5) !important;}
  .md-button.md-default-theme.md-raised.custom-nextBtn , .md-button.md-raised.custom-nextBtn {background-color: #7d7d7d; color: #fff;}
  .md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {background-color: rgba(116, 116, 116, 0.5) !important;}

  .md-button.custom-SolidOrange.md-raised:not([disabled]):hover,
  .md-button.custom-SolidOrange.md-raised:not([disabled]):hover {background-color: rgba(248, 159, 53, 0.65) !important;}
  .md-button.custom-SolidOrange.md-raised:not([disabled]).md-focused,
  .md-button.custom-SolidOrange.md-raised:not([disabled]).md-focused {background-color: rgb(248, 159, 53) !important;}
  .md-button.custom-SolidOrange:not([disabled]) {color: rgba(255,255,255,0.87);background-color: #fd8724;border:none;}
  .md-button.custom-SolidOrange:not([disabled]):hover,
  .md-button.custom-SolidOrange:not([disabled]):hover {background-color: rgba(248, 159, 53, 0.65) !important;}
  .md-button.custom-SolidOrange:not([disabled]).md-focused,
  .md-button.custom-SolidOrange:not([disabled]).md-focused {background-color: rgb(248, 159, 53) !important;}


  .md-button.custom-SolidBlue.md-raised:not([disabled]):hover,
  .md-button.custom-SolidBlue.md-raised:not([disabled]).md-focused,
  .md-button.custom-SolidBlue.md-raised:not([disabled]):hover {background-color: rgba(46, 116, 146, 0.65) !important;}
  .md-button.custom-SolidBlue.md-raised:not([disabled]).md-focused {background-color: #2e7492 !important;}
  .md-button.custom-SolidBlue:not([disabled]) {color: rgba(255,255,255,0.87);background-color: #2e7492;border:none;md-icon {color:rgba(255,255,255,0.87);}}
  .md-button.custom-SolidBlue:not([disabled]):hover,
  .md-button.custom-SolidBlue:not([disabled]):hover {background-color: rgba(46, 116, 146, 0.65) !important;}
  .md-button.custom-SolidBlue:not([disabled]).md-focused,
  .md-button.custom-SolidBlue:not([disabled]).md-focused {background-color: #2e7492 !important;}

  .md-button.md-fab i {font-weight: inherit;font-style: normal;font-size: 21px;line-height: 1;letter-spacing: normal;text-transform: none;display: inline-block;-webkit-font-feature-settings: 'liga';-webkit-font-smoothing: antialiased;vertical-align: middle;fill: currentColor;height: 24px;width: 24px;min-height: 24px;min-width: 24px;white-space: nowrap;word-wrap: normal;direction: ltr;margin: auto;background-repeat: no-repeat;}
  .md-button.md-fab i.fa.fa-flag-checkered {font-weight: 900;}

  .md-button.custom-SolidOrange.md-fab, .md-button.custom-SolidOrange.md-fab, .md-button.custom-SolidOrange.md-raised, .md-button.custom-SolidOrange.md-raised {color: rgba(255,255,255,0.87);background-color: $appMedOrange;}
  .md-button.custom-SolidOrange.md-fab:not([disabled]).md-focused, .md-button.md-fab:not([disabled]).md-focused, .md-button.custom-SolidOrange.md-fab:not([disabled]):hover, .md-button.custom-SolidOrange.md-fab:not([disabled]):hover {background-color: rgba(248, 159, 53, 0.65);}
  .md-button.custom-gpSolidBlue.md-fab, .md-button.custom-gpSolidBlue.md-fab, .md-button.custom-gpSolidBlue.md-raised, .md-button.custom-gpSolidBlue.md-raised {color: rgba(255,255,255,0.87);background-color: #2e7492;}
  .md-button.custom-SolidBlue.md-fab, .md-button.custom-SolidBlue.md-fab, .md-button.custom-SolidBlue.md-raised, .md-button.custom-SolidBlue.md-raised {color: rgba(255,255,255,0.87);background-color: #2e7492;}
  .md-button.custom-SolidBlue.md-fab:not([disabled]).md-focused, .md-button.md-fab:not([disabled]).md-focused, .md-button.custom-SolidBlue.md-fab:not([disabled]):hover, .md-button.custom-SolidBlue.md-fab:not([disabled]):hover {background-color: rgba(46, 116, 146, 0.65);}
  .md-button.custom-gpSolidBlue.md-fab, .md-button.custom-gpSolidBlue.md-fab, .md-button.custom-gpSolidBlue.md-raised, .md-button.custom-gpSolidBlue.md-raised {color: rgba(255,255,255,0.87);background-color: #2e7492;}

  /************************** INPUTS *********************/
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
  input[type=number] {-moz-appearance:textfield;}

  /*2.14.18*/
  md-checkbox {margin:0;}
  md-checkbox.md-gpOrange {margin: 0;}
  md-checkbox.md-gpOrange:not(.md-checked) .md-icon {border-color: rgba(255, 255, 255, 0.75);}
  md-checkbox.md-gpOrange.md-checked .md-icon {background-color: $appMedOrange; }
  md-checkbox:not([disabled]).md-gpOrange.md-checked .md-icon {background-color: $appMedOrange;}
  md-checkbox.md-gpOrange.md-checked .md-icon:after {border-color: #fff;}

  md-checkbox.md-gpBlue:not(.md-checked) .md-icon {border-color: rgba(255, 255, 255, 0.75);}
  md-checkbox.md-gpBlue.md-checked .md-icon {background-color: rgba(255, 255, 255, 0.75);}
  md-checkbox:not([disabled]).md-gpBlue.md-checked .md-icon {background-color:rgba(255, 255, 255, 0.75);}
  md-checkbox.md-gpBlue.md-checked .md-icon:after {border-color: #2e7492;}

  md-checkbox.md-gpSolidBlue:not(.md-checked) .md-icon {border-color: #2e7492;}
  md-checkbox.md-gpSolidBlue[disabled]:not(.md-checked) .md-icon {border-color: rgba(0,0,0,0.38);}
  md-checkbox.md-gpSolidBlue.md-checked .md-icon {background-color: rgba(255, 255, 255, 0.75);}
  md-checkbox:not([disabled]).md-gpSolidBlue.md-checked .md-icon {background-color: #2e7492;}
  md-checkbox.md-gpSolidBlue.md-checked .md-icon:after {border-color: #fff;}
  md-checkbox.md-gpSolidBlue.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {color: #2e7492;}
  md-checkbox.md-gpSolidBlue.md-checked .md-icon, md-checkbox.md-checked .md-icon {background-color: #2e7492;}
  md-checkbox.md-gpSolidOrange:not(.md-checked) .md-icon {border-color: $appMedOrange;}
  md-checkbox.md-gpSolidOrange.md-checked .md-icon {background-color: rgba(255, 255, 255, 0.75);}
  md-checkbox:not([disabled]).md-gpSolidOrange.md-checked .md-icon {background-color: $appMedOrange;}
  md-checkbox.md-gpSolidOrange.md-checked .md-icon:after {border-color: #fff;}

  md-checkbox.md-gpSolidSuccess:not(.md-checked) .md-icon {border-color: $appGreen;}
  md-checkbox.md-gpSolidSuccess.md-checked .md-icon {background-color: rgba(255, 255, 255, 0.75);}
  md-checkbox:not([disabled]).md-gpSolidSuccess.md-checked .md-icon {background-color: $appGreen;}
  md-checkbox.md-gpSolidSuccess.md-checked .md-icon:after {border-color: #fff;}

  md-checkbox.md-gpSolidInfo:not(.md-checked) .md-icon {border-color: #d6e8ec;}
  md-checkbox.md-gpSolidInfo.md-checked .md-icon {background-color: rgba(255, 255, 255, 0.75);}
  md-checkbox:not([disabled]).md-gpSolidInfo.md-checked .md-icon {background-color: #3498db;}
  md-checkbox.md-gpSolidInfo.md-checked .md-icon:after {border-color: #fff;}

  md-checkbox.md-gpSolidDefault:not(.md-checked) .md-icon {border-color: #bfbfbf;}
  md-checkbox.md-gpSolidDefault.md-checked .md-icon {background-color: rgba(255, 255, 255, 0.75);}
  md-checkbox:not([disabled]).md-gpSolidDefault.md-checked .md-icon {background-color: $appDkGrey;}
  md-checkbox.md-gpSolidDefault.md-checked .md-icon:after {border-color: #fff;}

  md-checkbox.md-gpSolidWhite:not(.md-checked) .md-icon {border-color: rgba(255, 255, 255, 1);}
  md-checkbox.md-default-theme.md-checked .md-icon:after, md-checkbox.md-checked .md-icon:after {border-color: rgba(255, 255, 255, 1);}

  md-checkbox .md-icon {box-sizing: border-box;-webkit-transition: .24s;transition: .24s;position: absolute;top: 0;left: 0px;width: 20px;height: 20px;border-width: 1px;border-style: solid;border-radius: 2px;}
  md-checkbox.md-checked .md-icon:after {box-sizing: border-box;-webkit-transform: rotate(45deg);transform: rotate(45deg);position: absolute;left: 6.66667px;top: 1.22222px;display: table;width: 6.66667px;height: 13.33333px;border-width: 2px;border-style: solid;border-top: 0;border-left: 0;content: "";}
  md-checkbox.md-indeterminate .md-icon:after {box-sizing: border-box;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);display: table;width: 12px;height: 2px;border-width: 2px;border-style: solid;border-top: 0;border-left: 0;content: "";}
  /************************** RADIOS *********************/
  md-radio-button.gpBlue .md-on, md-radio-button .md-on {background-color: #2e7492;}
  md-radio-button.gpBlue.md-checked .md-off, md-radio-button.md-checked .md-off {border-color: #2e7492;}
  md-radio-button.gpSilver .md-on, md-radio-button .md-on {background-color: silver;}
  md-radio-button.gpSilver.md-checked .md-off, md-radio-button.md-checked .md-off {border-color: silver;}
  md-radio-button.gpGold .md-on, md-radio-button .md-on {background-color: gold;}
  md-radio-button.gpGold.md-checked .md-off, md-radio-button.md-checked .md-off {border-color: gold;}
  md-radio-button.gpPlatinum .md-on, md-radio-button .md-on {background-color: #e5e4e2;}
  md-radio-button.gpPlatinum.md-checked .md-off, md-radio-button.md-checked .md-off {border-color: #e5e4e2;}

  md-radio-group.md-default-theme .md-checked .md-ink-ripple, md-radio-group .md-checked .md-ink-ripple {color: rgba(46, 116, 146, 0.26) !important;}
  md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before, md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {color: rgba(46, 116, 146, 0.26) !important;}

/************************** SELECT *********************/
  md-select.md-gpBlue-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {border-bottom-color: #2e7492;}
  md-select[md-selected-html] .md-select-value.md-select-placeholder, md-select[placeholder] .md-select-value.md-select-placeholder {font-weight: 400;}
  md-select[md-selected-html] .md-select-value.md-select-placeholder, md-select[placeholder] .md-select-value.md-select-placeholder,
  md-select[placeholder] .md-select-value.md-select-placeholder span {color: rgba(0,0,0,0.38);}
  md-select.md-default-theme .md-select-value.md-select-placeholder, md-input-container md-select-value.md-select-placeholder span {color: #656565;font-weight: 700;}
  .md-select-menu-container {z-index: 10000 !important;max-width: 310px; min-width: unset !important;}
  .md-select-menu-container.md-active {z-index: 10000 !important;}
/************************** TABS *********************/
  md-tabs.md-gpBlue-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-gpBlue-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-gpBlue-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-gpBlue-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon { color: #2e7492;}
  md-tabs.md-gpBlue-theme .md-tab .md-ripple-container, md-tabs .md-tab .md-ripple-container { color: #2e7492;}
  md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar { color: #2e7492; background: #2e7492;}
  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {color: $appDkGrey;}
  md-tabs.md-dynamic-height md-tabs-content-wrapper {margin:0 5px 5px;}
  md-tabs.custom-NoInkBar md-ink-bar {display: none; }
  md-tabs.custom-thickInkBar { padding: 2px;
     md-ink-bar {height:4px;}
     md-content {background: white;}
     md-tabs-content-wrapper {}
     md-tabs-wrapper {
       md-tabs-canvas {background: white;border-bottom: 1px solid $appMedLtGrey;height: 48px;
         md-pagination-wrapper {right: 0; left: unset;
           md-tab-item {margin-right:0; margin-left: 5px;}
         }
       }
     }
  }
  md-tabs.custom-thickInkBar[md-border-bottom] md-tabs-wrapper {border-width: 0;}
  md-tabs.custom-thickInkBar.custom-transparentTabs {
    md-tabs-wrapper {
      md-tabs-canvas {background: transparent;border-bottom: 1px solid $appMedLtGrey;height: 48px;
      }
    }
  }
  md-tabs#findExperts.md-dynamic-height md-tabs-content-wrapper md-tab-content{overflow:visible;}
  md-tabs#findExperts md-tab-content md-tab-content {padding: 10px 0;}
  md-tabs.custom-hiddenTabs md-tabs-wrapper {display:none;}
  md-tabs.md-gpBlue-theme .md-tab.md-active.custom-text-danger,
  md-tabs .md-tab.md-active.custom-text-danger,
  md-tabs.md-gpBlue-theme .md-tab.md-active.custom-text-danger md-icon,
  md-tabs .md-tab.md-active.custom-text-danger md-icon,
  md-tabs.md-gpBlue-theme .md-tab.md-focused.custom-text-danger,
  md-tabs .md-tab.md-focused.custom-text-danger,
  md-tabs.md-gpBlue-theme .md-tab.md-focused.custom-text-danger md-icon,
  md-tabs .md-tab.md-focused.custom-text-danger md-icon,
  md-tabs.md-default-theme .md-tab.custom-text-danger, md-tabs .md-tab.custom-text-danger {color: red;}
  md-tabs.md-default-theme md-ink-bar.custom-text-danger, md-tabs md-ink-bar.custom-text-danger {color: red; background: red;}
  md-tabs.md-gpBlue-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item {margin-right: 5px;border-bottom: 0; background: white;} //originally didn't have md-tabs before class in css

  md-tab-content {background: #fff;padding: 10px;box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);}
  md-tab-content md-tab-content {box-shadow: none;}

  md-tabs-wrapper {margin:0 5px;}


/************************** DIALOGS *********************/
  md-dialog.md-default-theme, md-dialog {color:#636363;}
  md-dialog .md-gpBlue-theme .md-toolbar-tools {display:flex; align-items: center;}
  md-dialog .md-gpBlue-theme .md-toolbar-tools h2 {display:flex; align-items: center; padding:0;}

  md-dialog-content md-tab-content {box-shadow:none;/* border:1px solid #eaeaea; */margin:0;}
  md-dialog-content md-tabs-wrapper {margin:0; padding:0;}
  md-dialog-content md-tabs.md-dynamic-height md-tabs-content-wrapper {margin:0;padding:0}

  .md-dialog-container {z-index: 9000;}
  md-backdrop.md-dialog-backdrop {z-index: 8000;}
/************************** TOOLBARS *********************/
  md-toolbar.md-hue-custom {background: #ebebeb;color:$appDkGrey;}
  md-toolbar.md-hue-paleOrange {background: #f9d0b6;color:$appDkGrey;}
  md-toolbar.md-gpBlue-theme:not(.md-menu-toolbar) {background-color: #2e7492;color: rgba(255,255,255,0.87);}
  md-toolbar.md-gpBlue-theme h1, md-toolbar.md-gpBlue-theme h2, md-toolbar.md-gpBlue-theme h3, md-toolbar.md-gpBlue-theme h4, md-toolbar.md-gpBlue-theme h5 {color:#fff;padding-bottom: 5px;}
  md-toolbar.md-gpBlue-theme h1 small, md-toolbar.md-gpBlue-theme h2 small, md-toolbar.md-gpBlue-theme h3 small, md-toolbar.md-gpBlue-theme h4 small, md-toolbar.md-gpBlue-theme h5 {color:#fff;margin-left: 8px;}
  md-toolbar.md-gpWhite-theme:not(.md-menu-toolbar) {background-color: #fff;color: #2e7492;}
  md-toolbar.md-gpWhite-theme h1, md-toolbar.md-gpWhite-theme h2 {color:#2e7492;}

  @media screen and (max-width:768px) {
    .md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {font-size: initial}
  }

/************************** Input Container *********************/
  md-input-container:not(.md-input-invalid).md-input-focused label {color: #2e7492 !important;}
  md-input-container:not(.md-input-invalid).md-input-focused .md-input {border-color: #2e7492 !important;}
  md-input-container.md-gpBlue-theme .md-input, md-input-container .md-input {color: rgb(47, 116, 146);color: rgba(0,0,0,0.38);color: $appDkGrey;font-size: 15px;font-weight: 500;}
   md-input-container .md-input[disabled] {background-color:$appGreyBG;opacity:1;color: rgba(0, 0, 0, 0.3);}
  md-input-container md-select-value span {font-weight: 600;font-weight: 400;color: $appDkGrey;}
  md-input-container.md-gpBlue-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {color: #2e7492;}
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {-webkit-transform: translate3d(0,6px,0) scale(.1);transform: translate3d(0,6px,0) scale(1);
    -webkit-transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  }
  md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label {color: $appGrey;}


/************************** AutoComplete *********************/
  .md-autocomplete-suggestions-container{z-index:100000 !important; /* any number of choice > 1050*/}
  /*** Overrides material design default injection of class .md-whiteframe-z1 **/
  md-autocomplete md-autocomplete-wrap.md-whiteframe-z1 {box-shadow:none;border: 1px solid #797b7b;height: 45px;}
  md-autocomplete[md-floating-label] .md-show-clear-button button {display: block;position: absolute;right: 0;width: 30px;height: 30px;}



/********************************* FORMS ****************************/
  md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container {background-color: $appMdGreyBlue;margin-top:5px;margin-top:-20px;}
  md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar {background-color: $appBlue;}
/************************** MD TOAST *********************/
  md-toast {z-index: 100000;}
  md-toast.md-danger-toast-theme  {margin-left: auto;margin-right: auto;left: 0; right: 0;max-width: 100%;}
  md-toast.md-danger-toast-theme .md-toast-content {background-color: $appDangerRed;}
  md-toast.md-warning-toast-theme  {margin-left: auto;margin-right: auto;left: 0;right: 0;max-width: 100%;}
  md-toast.md-warning-toast-theme .md-toast-content {background-color: $appMedOrange;padding: 0 10px;}
  md-toast.md-primary-toast-theme .md-toast-content {background-color: $appBlue;}
  md-toast.md-success-toast-theme .md-toast-content {background-color: $appGreen;}
  md-toast.md-default-theme .md-toast-content .md-button.md-highlight, md-toast .md-toast-content .md-button.md-highlight {color: $appMedOrange;}
  @media (min-width: 1920px) {
    md-toast .md-toast-content {max-width: unset;}
  }
  //comment
/************************** MD DATEPICKER *********************/
  .md-datepicker-calendar-pane.md-pane-open {z-index: 10001;}
