.dropdown-menu {
  li {
    a {}
    a[disabled='disabled'] {color:$appMedGrey;
      &:hover {color:$appMedGrey;}
    }
  }
}

// .dropdown-menu>li>a[ng-disabled='true'] {color:$appMedGrey;}
// .dropdown-menu>li>a[ng-disabled='true']:hover {color:$appMedGrey;}
.custom-dashboard-header {
  nav {
    display: flex; align-items: center; justify-content: space-between; font-size: 13px; font-weight: 600;color: $appGrey;
      ul {
        padding: 12px;
        li {
          margin: 0 10px;cursor: pointer;
        }
        li:hover, li:active, li.active{
          color:$appBlue;
        }
      }
      ul:not(.dropdown-menu) {
        display: flex;align-items: center;
      }
      a {
          li {
            color: $appGrey;font-weight: 600;
          }
      }
  }
}

.custom-dashToolbar {
    button {margin-right:15px;}
    .btn-group {
        button {margin:0;}
        li {
          margin: 0 10px;
          cursor: pointer;
        }
        li:hover, li:active, li.active {
          color:$appBlue;
        }
        md-radio-button {display:inline-block; font-size:16px; margin-bottom: 0; margin-right: 15px;
          .md-off {width:17px; height:17px;}
          .md-on {width:17px; height:17px;}
          .md-label {margin-left: 20px; margin-right:0px;}
        }
    }
    .custom-dashItems {margin-right:15px;}
}

// .custom-dashToolbar .custom-dashItems {margin-right:15px;}
// .custom-dashToolbar button {margin-right:15px;}
// .custom-dashToolbar .btn-group button {margin:0;}
// .custom-dashToolbar md-radio-button {display:inline-block; font-size:16px; margin-bottom: 0; margin-right: 15px;}
// .custom-dashToolbar md-radio-button .md-off, .custom-dashToolbar md-radio-button .md-on {width:17px; height:17px;}
// .custom-dashToolbar md-radio-button .md-label {margin-left: 20px; margin-right:0px;}
.nav.navbar-nav.pull-right .dropdown-menu {left: inherit; right: 0;}
.navbar-default .badge.badge-danger {background-color: $appDangerRed; color:white;padding: 1px 5px 4px;}
.custom-dashBell {font-size: 24px;color: $appDangerRed;}
.custom-dashAlertWrapper {position:relative; width: 25px;display: inline;}
.custom-dashBellNumber { position: absolute; left: 8px; top: -6px; color: white; font-weight: bold;}
.custom-dashboard-header .custom-dashIcon {font-size:45px;color: $appDkGrey;cursor: pointer;}
.custom-searchLI {width: 200px;}
.custom-headerSearchBtn {
    height: 45px;
    background: transparent;
    border: 1px solid $appMedLtBorderGrey;
    border-right: 0;
    padding: 10px 5px 10px 15px;
    font-size: 18px;
    color: $appBlue;
    }
.custom-headerSearchInput {border-left:0;font-size: 13px;width: 175px;}
.form-control.custom-headerSearchInput:focus {
    border-color: $appMedLtBorderGrey;
    outline: 0;
}
.custom-hamburgerMenu {
    font-size: 30px;
    padding: 0 6px;
    background: transparent;
    border: 0;
    color: $appBlue;}
.btn-primary.custom-hamburgerMenu.active, .btn-primary.custom-hamburgerMenu:active, .btn-primary.custom-hamburgerMenu:hover, .open>.dropdown-toggle.btn-primary.custom-hamburgerMenu {
  color: $appBlue;
  background-color: transparent;
  border-color: transparent;
}
.btn-primary.custom-hamburgerMenu.focus, .btn-primary.custom-hamburgerMenu:focus {
    color: $appBlue;
    background-color: transparent;
    border-color: transparent;
}



// *************** SIDE MENU ******************/
.custom-sideMenu {/*Note: remove margin when doing responsive side menu*//* margin-right:15px; */}
.custom-sideMenu .list-group-item {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  margin-bottom: 3px;
  background: #777;
  color: #fff;
  border: #777;
  /* border-radius: 0; */
  padding: 10px 10px;
}
.custom-sideMenu .list-group-item.custom-getStarted {background: #fd8724; border:#fd8724;}
.custom-sideMenu .list-group-item.custom-getStarted:hover,
.custom-sideMenu .list-group-item.custom-getStarted:active,
.custom-sideMenu .list-group-item.custom-getStarted:focus {background: $appHoverOrange; border:$appHoverOrange; color:#fff;}
