<style>
#CoNameTerms  div {font-size:12px; margin-bottom: 5px;}
#CoNameTerms h1 {font-size:22px; text-align:center;}
#CoNameTerms h4 {font-size:17px;}

#CoNameTerms ul {list-style-type: circle;padding-left: 15px;}
#CoNameTerms ol {list-style-type: decimal;padding-left: 15px;}
#CoNameTerms ol ol {list-style-type: lower-alpha;}
#CoNameTerms ul li, #CoNameTerms ol li {list-style-type: inherit;}

</style>
<div id="CoNameTerms">
<h1>CompanyNme Terms of Service</h1>
<!-- Deleted sensitive Information -->
</div>
