<!-- HEADER -->
<div class="login-container-header custom-dashboard-header">
  <div class="container contrast-blue">
    <div class="row">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top ">
          <div style="display: flex;">
            <a class=" navbar-brand " href="/">
              CoName
            </a>
            <ul class="nav navbar-nav">
              <li ng-class="{ active: $state.includes('company')}" ui-sref="company">DASHBOARD</li>
              <li ui-sref="legalDocs">LEGAL DOCS</li>
              <li>
                <span data-toggle="dropdown" aria-expanded="false" ui-sref-active="is-active"> APPS <i class="fa fa-angle-down"></i></span>
                <ul class="dropdown-menu">
                  <li><a href="https://CompanyNme.coglide.com/pwin"><i class="fa fa-calculator"></i> &nbsp; PWIN Calculator</a></li>
                  <li><a href="#" ui-sref="opportunity" ng-disabled="false"><i class="fa fa-handshake"></i> &nbsp; Opportunity Search (v2.1)</a></li>
                  <li><a href="#" ui-sref="pipeline" ng-disabled="false"><i class="fa fa-link"></i> &nbsp; Pipeline Tool (v2.1)</a></li>
                  <li><a href="#" ui-sref="teammateMatch" ng-disabled="false"><i class="fa fa-users"></i> &nbsp; Teammate Match (v2.1)</a></li>
                </ul>
              </li>
              <a href="http://academy.appURL.com" target="_blank"><li>ACADEMY</li></a>
              <a href="http://helpcenter.CompanyNme.com" target="_blank"><li>HELP CENTER</li></a>
            </ul>
          </div>
          <ul class="nav navbar-nav pull-right">
            <li>
              <span data-toggle="dropdown" aria-expanded="false">
                <img ng-src="{{envURL+userInfo.ImageFilename}}" style="height:45px; width:45px; border-radius:50%;" ng-if="userInfo.ImageFilename">
                <span>Hi {{userInfo.firstname}}! </span>
                <i class="fa fa-angle-down"></i>
              </span>
              <ul class="dropdown-menu">
                <li><a href="#" ui-sref="myProfile"><i class="glyphicon glyphicon-user"></i> &nbsp; Personal Settings</a></li>
                <!-- NOTE: To be used when the user has roles assigned -->
                <li ng-if="(userInfo.role.gpKey === '{d9a2b6db-92e1-45f2-a9fa-db8240a7145b}') || (userInfo.role.gpKey === '{f87dc87e-d4c4-4e22-b025-f212cd659910}')">
                  <a href="#"  ng-click="goToManageAcctUsers()"><i class="fa fa-users"></i> &nbsp; Manage Account Users</a>
                </li>
                <li><a href="#" ui-sref="myAccount"><i class="fa fa-credit-card"></i> &nbsp; My Account</a></li>
                <li><a href="#" ng-click="goToCompanyProfile()"><i class="fa fa-briefcase"></i> &nbsp; Organization Profile</a></li>
                <li class="impersonateIcon"><a href="#" ui-sref="adminDashboard" ng-if="userInfo.isImpersonateAdmin"><i class="fa fa-id-card"></i> CSA Dashboard</a></li>
                <li class="divider"></li>
                <li><a href="#" data-ng-click="CoNameProcessLogout()"><i class="fa fa-sign-out-alt"></i> &nbsp; Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </div>
</div>
