<!-- HEADER -->
<div class="login-container-header">
  <div class="container contrast-blue">
    <div class="row">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top ">
          <a class=" navbar-brand " href="/">
            CompanyNme
          </a>
          <ul class="nav navbar-nav pull-right">
            <li>
              &nbsp;
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </div>
</div>
<div style="max-width:800px; margin:auto; margin-top: 110px;" class="md-whiteframe-3dp">
  <md-toolbar class="md-gpBlue-theme">
    <div class="md-toolbar-tools">
      <h2>A rating has already been submitted using the link you were provided.</h2>
    </div>
  </md-toolbar>
  <div style="padding:15px;">
    If you feel you have received this message in error, please contact <a href="mailto:support@CompanyNme.com">support@CompanyNme.com</a>
  </div>

  </div>
</div>
